html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  position: relative;
  padding-top: 100px;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  background-color: #f6f5f5;
  padding-bottom: 0;
  flex: 1;
}

*::-webkit-scrollbar{
  display: none;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loading-img{
  width: 120px;
}

